@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.caramel {
    font-family: "Caramel", cursive;
    font-weight: 400;
    font-style: normal;


}

h1 {

    font-size: 106px;
    font-weight: 400;
}

h2 {
    margin-top: 0;
    font-size: 34px;
}

.bleu, .white {
    min-height: 75vh;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 20%;
    box-sizing: border-box;
}

.bleu {
    background: #ececf9;;
}

.white {

    background: #f3f3f3;
}

.alignItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.scrollToTop{
    position: fixed;
    bottom: 30px;
    right: 50px;
}

.routesNavigation{
    position: fixed;
    top: 0px;
    right: 74px;
    width: 8%;
    background: white;
    padding: 5px 28px;
    box-shadow: 0px 0px 13px 1px #0000001f;

    display: flex;
    cursor: pointer;
}

.routesNavigation span{
    cursor: pointer;
}
.routesNavigation span:hover{
    color: #676767;
}
/*===============COLOR CLASS=============*/
.intColor, .booleanColor, .stringColor, .urlColor, .labelColor {
    font-weight: 800;
}

.intColor {
    color: #8181ff;
}

.booleanColor {
    color: #ff8181;
}

.stringColor {
    color: #399d00;
}

.urlColor {
    color: #a2ff6b;
}.notnullColor {
     color: aliceblue;
}
 .labelColor {
     color: #95d7f9;
 }

/*===============Request=============*/
.white p, .bleu p{
    width: 50%;
    text-align: center;
}
.description{
    margin-block: 60px;
}
.rowWithPre {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.rowWithPre .preContainer {
    width: 46%;
}

.rowWithPre .preContainer .span {
    height: 10%;
}

pre .json {
    position: absolute;

    font-size: 15px;
    top: 10px;
    right: 10px;


    color: #756c6c;
    text-shadow: #1a1a1a 0px 0px 10px;
}

pre .json {
}

pre {
    background: #393939;
    border: #575757 1px solid;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 79%;
    color: antiquewhite;
    position: relative;
    text-shadow: none;

    word-wrap: break-word;
    white-space: pre-wrap;

}

kbd {
    background: #dbd6ff;
    padding: 7px 14px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-inline: 10px;
}